# Backend Environment Variables
GEMINI_API_KEY="AIzaSyDoFVIjYx-y_7KqQ0664cRU5XF3_1w9XQY"
FIREBASE_SERVICE_ACCOUNT_KEY="backend/serviceAccountKey.json"
FLASK_ENV=development
FLASK_SECRET_KEY=your_flask_secret_key_here
FRONTEND_URL=http://localhost:8080
